{% extends 'base.html' %}

{% block content %}
    <h1>Edytuj salę konferencyjną {{room.name}}</h1>
    <!--form-->
    <form action="" method="post">
        <label>Nowa Sali Konferencyjnej:
            <input name="room-name" value="{{room.name}}" type="text">
        </label>
        <br />
        <label>Nowa Pojemność sali
            <input name="room-capacity" value="{{room.capacity}}" type="number">
        </label>
        <br />
        <label>Czy sala posiada projektor?:
            <input name="room-projector" placeholder="{{room.projector}}" {% if room.projector %} checked {% endif %} type="checkbox">
        </label>
        <br />
        <button type="submit">Wyślij</button>
    </form>
{% endblock %}