{% extends 'base.html' %}


{% block content %}
    <h1>Dodaj salę konferencyjną</h1>
    <form action="" method="post">
        <label>Nazwa Sali Konferencyjnej:
            <input name="room-name" placeholder="Nazwa Sali" type="text">
        </label>
        <br />
        <label>Pojemność sali
            <input name="room-capacity" type="number">
        </label>
        <br />
        <label>Sala posiada projektor:
            <input name="room-projector" type="checkbox">
        </label>
        <br />
        <button type="submit">Wyślij</button>
    </form>
{% endblock %}